@import "https://merysilveira.github.io/frontend-dev-challenge/admin-meriellen/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "https://merysilveira.github.io/frontend-dev-challenge/admin-meriellen/node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "https://merysilveira.github.io/frontend-dev-challenge/admin-meriellen/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "https://merysilveira.github.io/frontend-dev-challenge/admin-meriellen/node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
* {
  border: none;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Nunito", Arial, Verdana, sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html,
body,
main,
header,
footer {
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container_fluid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
}

body {
  background-color: #ffffff;
  color: #858796;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito";
  margin: 0;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

*:focus {
  outline: none;
}

ul {
  margin-bottom: 0;
  margin-left: 0;
}

li {
  list-style: none;
}

ul li ul {
  margin-left: 0;
}

.row__wrap {
  display: flex;
  flex-wrap: wrap;
}

/*-------------------------------
#GENERAL
-------------------------------*/
.wrapper {
  display: flex;
}

/*-------------------------------
	#SIDEBAR
	-------------------------------*/
.sidebar__wrap {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
  min-height: 100vh;
  width: 14rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767.98px) {
  .sidebar__wrap {
    width: 6.5rem;
  }
}

.sidebar__logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.sidebar__logo:hover {
  color: #ffffff;
}

.sidebar__logo .fa-dna {
  font-size: 2rem;
  transform: rotate(-15deg);
}

.sidebar__logo h1 {
  font-size: 1rem;
  font-weight: 800;
  height: 4.375rem;
  letter-spacing: .05rem;
  padding: 1.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.sidebar__line {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 1rem 1rem;
}

.sidebar__line.sidebar__line--0 {
  margin-bottom: 0;
}

.sidebar__list_item {
  position: relative;
}

.sidebar__list_item .sidebar__list_link {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: 1rem;
  text-align: left;
  width: 14rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.sidebar__list_item .sidebar__list_link i {
  color: rgba(255, 255, 255, 0.3);
  font-size: .85rem;
  margin-right: .50rem;
}

.sidebar__list_item .sidebar__list_link:hover {
  color: #ffffff;
}

.sidebar__list_item .sidebar__list_link:hover i {
  color: #ffffff;
}

.sidebar__list_item .sidebar__list_link.closed::after {
  color: rgba(255, 255, 255, 0.5);
  /* content: fa-content($fa-var-angle-right);
					@extend %fa-icon;
					@extend .fas;
					@include position-absolute($right: 1rem); */
}

.sidebar__list_item .sidebar__list_link span {
  display: inline;
  font-size: .85rem;
}

.sidebar__list_item.active .sidebar__list_link {
  color: #ffffff;
}

.sidebar__list_item.active .sidebar__list_link i {
  color: #ffffff;
}

.sidebar__list_item.active .sidebar__list_link span {
  font-weight: 700;
}

.sidebar__list_heading {
  color: rgba(255, 255, 255, 0.4);
  font-size: .65rem;
  font-weight: 800;
  padding: 0 1rem;
  text-align: left;
  text-transform: uppercase;
}

/*-------------------------------
	#CONTENT
	-------------------------------*/
.content__wrap {
  background-color: #f8f9fc;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

/*-------------------------------
			#HEADER
			-------------------------------*/
.header__wrap {
  background-color: #ffffff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  height: 4.375rem;
  margin-bottom: 1.5rem;
  padding: .5rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/*-------------------------------
	#SEARCH
	-------------------------------*/
.header_search__wrap {
  display: inline-block;
  margin-left: 1rem;
  position: relative;
  max-width: 100%;
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 575.98px) {
  .header_search__wrap {
    align-items: center;
  }
}

.header_search {
  background-color: #f8f9fc;
  border: 0;
  border-radius: .35rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #6e707e;
  font-size: .85rem;
  height: auto;
  line-height: 1.5;
  margin-bottom: 0;
  padding: .375rem .75rem;
  position: relative;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 1%;
  min-width: 0;
  flex: 1 1 auto;
}

.header_search:focus {
  background-color: #ffffff;
  border-color: #bac8f3;
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
  color: #6e707e;
  outline: 0;
}

.header_search__bt {
  background-color: #4e73df;
  border-color: #4e73df;
  border-radius: .35rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  position: relative;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.header_search__bt:hover {
  background-color: #224abe;
}

/*-------------------------------
	#NAVBAR
	-------------------------------*/
.header_navbar__wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.header_navbar__messages {
  margin-right: .25rem;
  margin-left: .25rem;
}

.header_navbar__messages a {
  color: #d1d3e2;
  height: 4.375rem;
  padding: 0 .75rem;
  position: relative;
  display: flex;
  align-items: center;
}

.header_navbar__messages__counter {
  background-color: #e74a3b;
  border-radius: .35rem;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  margin-top: -.25rem;
  padding: .25em .4em;
  position: absolute;
  right: .25rem;
  text-align: center;
  transform: scale(0.7);
  transform-origin: top right;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
  vertical-align: baseline;
  white-space: nowrap;
}

.header_navbar__line {
  border-right: 1px solid #e3e6f0;
  display: block;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
  width: 0;
}

.header_navbar__user {
  position: relative;
}

.header_navbar__user a {
  height: 4.375rem;
  padding: 0 .75rem;
  position: relative;
  display: flex;
  align-items: center;
}

.header_navbar__user_name {
  color: #858796;
  display: inline;
  font-size: 80%;
  margin-right: .5rem;
}

.header_navbar__user_image {
  border-radius: 50%;
  height: 2rem;
  vertical-align: middle;
  width: 2rem;
}

/*-------------------------------
			#PAGE HEADING
			-------------------------------*/
.heading__wrap {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.heading__wrap h2 {
  color: #5a5c69;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
}

.heading__wrap .heading__bt {
  background-color: #4e73df;
  border-color: #4e73df;
  border-radius: .2rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  line-height: 1.5;
  padding: .25rem .5rem;
  text-align: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  vertical-align: middle;
}

.heading__wrap .heading__bt:hover {
  background-color: #224abe;
}

.heading__wrap .heading__bt .fa-download {
  color: rgba(255, 255, 255, 0.5);
}

/*-------------------------------
			#CARDS
			-------------------------------*/
.cards__wrap {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
}

.cards__item {
  background-clip: border-box;
  background-color: #ffffff;
  border: 1px solid #e3e6f0;
  border-left-style: solid;
  border-left-width: .25rem;
  border-radius: .35rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  height: 100%;
  padding: .5rem 0;
  position: relative;
  min-width: 0;
  width: 100%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.cards__item--monthly {
  border-left-color: #4e73df;
}

.cards__item--annual {
  border-left-color: #1cc88a;
}

.cards__item--completed {
  border-left-color: #36b9cc;
}

.cards__item--requests {
  border-left-color: #f6c23e;
}

.cards__item_body {
  min-height: 1px;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: 1 1 auto;
}

.cards__item_body i {
  color: #dddfeb;
}

.cards__item_info {
  margin-right: .5rem;
  padding-right: .75rem;
  padding-left: .75rem;
  position: relative;
  min-width: 0;
  max-width: 100%;
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
}

.cards__item_type {
  font-size: .7rem;
  font-weight: 700;
  margin-bottom: .25rem;
  text-transform: uppercase;
}

.cards__item--monthly .cards__item_type {
  color: #4e73df;
}

.cards__item--annual .cards__item_type {
  color: #1cc88a;
}

.cards__item--completed .cards__item_type {
  color: #36b9cc;
}

.cards__item--requests .cards__item_type {
  color: #f6c23e;
}

.cards__item_value {
  color: #5a5c69;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.cards__item_progress__wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cards__item_progress-bar {
  background-color: #eaecf4;
  border-radius: .35rem;
  font-size: .75rem;
  height: .5rem;
  line-height: 0;
  margin-right: .5rem;
  margin-left: 1.25rem;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.cards__item_progress-bar span {
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  transition: width .6s ease;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__item--completed .cards__item_progress-bar span {
  background-color: #36b9cc;
}

/*-------------------------------
			#CARDS LARGE
			-------------------------------*/
.cards_large__wrap {
  background-clip: border-box;
  background-color: #ffffff;
  border: 1px solid #e3e6f0;
  border-radius: .35rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  margin-bottom: 1.5rem;
  position: relative;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.cards_large__header {
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
  margin-bottom: 0;
  padding: 1rem 1.25rem;
}

.cards_large__header h6 {
  color: #4e73df;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.cards_large__body {
  min-height: 1px;
  padding: 1.25rem;
  flex: 1 1 auto;
}

/*-------------------------------
			#DATABASE IMAGES
			-------------------------------*/
.images__wrap {
  max-width: 50%;
}

.images__list {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.images__list figure {
  margin-bottom: 1rem;
}

.images__list figure img {
  height: auto;
  margin: 1rem 0 .5rem;
  max-width: 100%;
}

.images__list figure figcaption {
  color: #5a5c69;
}

.images__bt {
  background-color: #4e73df;
  border-color: #4e73df;
  border-radius: .35rem;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-align: center;
  vertical-align: middle;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.images__bt:hover {
  background-color: #224abe;
  color: #ffffff;
}

/*-------------------------------
		#FOOTER
		-------------------------------*/
.footer__wrap {
  background-color: #ffffff;
  padding: 2rem 0;
  flex-shrink: 0;
}

.footer__wrap span {
  font-size: .8rem;
  line-height: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
